*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
}

/* Flex System */
.flex{
    display: flex;
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.nowrap{
    flex-wrap: nowrap;
}

.justify-start{
    justify-content: start;
}

.justify-center{
    justify-content: center;
}

.justufy-end{
    justify-content: end;
}

.justify-between{
    justify-content: space-between;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.align-strech{
    align-items: stretch;
}

/* Grid System */
.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-1{
    flex-basis: 8.333333%;
}

.col-2{
    flex-basis: 16.666667%;
}

.col-3{
    flex-basis: 25%;
}

.col-4{
    flex-basis: 33.333333%;
}

.col-5{
    flex-basis: 41.666667%;
}
.col-6{
    flex-basis: 50%;
}

.col-7{
    flex-basis: 53.333333%;
}

.col-8{
    flex-basis: 66.666666%;
}

.col-9{
    flex-basis: 75%;
}

.col-10{
    flex-basis: 83.333333%;
}

.col-11{
    flex-basis: 91.666667%;
}

.col-12{
    flex-basis: 100%;    
}

/* Universe */
body{
    font-family : "Nunito Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Header Wide */
.branding{
    text-align: center;
    padding: 35px;
}

.brading__icon-wrapper{
    background-color: #8db1ab;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.brading__icon-wrapper__icon{

    width: 24px;
    height: 24px;
}

.branding__name{
    line-height: 1;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: bold;
}

.branding__slogan{
    margin-top: -3px;
    font-size: 14px;
    color: #8db1ab;
}

/* Menu Section */
.menu{

}

.menu__item{
    padding: 20px;
}

.menu__link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.menu__link--active{
    color:rgb(89, 139, 131);
}

/* Main Wide */
.main{
    border-bottom: 1px solid #dfe9e7;
    border-top: 1px solid #dfe9e7;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Footer Wide */
.copyright{
    
}